.hero {
  position: relative;
  height: 70vh; /* Adjust the height as needed */
  background-image: url("/images/backgroundImages/home.png"); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;
}
.hero-btn:hover {
  box-shadow: 1px 1px 5px #e8e6e6;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.788
  ); /* Adjust the opacity (last value) for the desired transparency */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  color: white;
}

.content h1 {
  font-size: 32px; /* Adjust the font size as needed */
  margin-bottom: 10px;
}

.content p {
  font-size: 18px; /* Adjust the font size as needed */
}

.service-container {
  background-color: #222;
  color: white;
  padding: 20px;
  box-shadow: 5px 5px 10px #888888;
  margin-top: 40px;
  border-radius: 20px;
  height: 100% !important;

  -webkit-transition: background 1s; /* For Safari 3.0 to 6.0 */
  transition: background 1s;
}

.service-container:hover {
  background: #ffc326;
  color: black !important;
  cursor: pointer;
}
.stretch-items {
  display: flex;
  align-items: stretch !important;
  flex-wrap: wrap;
}
.my {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.gal-item {
  margin: 0px !important;
}

@media only screen and (min-width: 992px) {
  .header-logo {
    display: none !important;
  }
}
@media only screen and (max-width: 992px) {
  .nav-logo {
    display: none !important;
  }
}
.mainmenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.media-image {
  display: flex;
  justify-content: center;
}
.loader-wrapper {
  padding: 5em;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #ffc326;
}
.hide-loader {
  display: none !important;
}
.TruckLoader {
  position: relative;
  width: 150px;
  height: 40px;
  display: flex;
  font-size: 30px;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background: #222;
  animation: put-put 2s infinite, move-truck 10s infinite;
  background-size: 100% auto;
  border-radius: 4px;
  -webkit-box-reflect: below 15px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.1, transparent), to(rgba(255, 255, 255, 0.1)));
}

.TruckLoader:before,
.TruckLoader:after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  background: #333;
  position: absolute;
  bottom: -10px;
}

.TruckLoader:before {
  left: 6px;
}

.TruckLoader:after {
  right: 6px;
}

.TruckLoader-cab {
  position: absolute;
  left: -35px;
  bottom: 0;
  width: 33px;
  height: 25px;
  background: #333;
  border-radius: 40% 0 4px 4px;
  -webkit-box-reflect: below 15px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.1, transparent), to(rgba(255, 255, 255, 0.1)));
}

.TruckLoader-cab:before,
.TruckLoader-cab:after {
  position: absolute;
  content: "";
  display: block;
  background: #333;
}

.TruckLoader-cab:before {
  width: 20px;
  height: 15px;
  top: -15px;
  right: 0;
  border-radius: 100% 0 0 0;
}

.TruckLoader-cab:after {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #444;
  left: 5px;
  border: 2px solid #fff;
  background: #333;
  position: absolute;
  bottom: -10px;
}

.TruckLoader-smoke,
.TruckLoader-smoke:after,
.TruckLoader-smoke:before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  right: -1px;
  bottom: -5px;
  border-radius: 50%;
  background: #333;
}

.TruckLoader-smoke {
  animation: smoke-1 2s infinite;
}

.TruckLoader-smoke:after {
  animation: smoke-2 3s infinite;
}

.TruckLoader-smoke:before {
  animation: smoke-3 4s infinite;
}

@keyframes put-put {
  0% {
    margin-top: 0px;
    height: 50px;
  }
  5% {
    margin-top: -2px;
    height: 52px;
  }
  20% {
    margin-top: -1px;
    height: 50px;
  }
  35% {
    margin-top: 1px;
    height: 49px;
  }
  40% {
    margin-top: -1px;
    height: 51px;
  }
  60% {
    margin-top: 1px;
    height: 49px;
  }
  75% {
    margin-top: 0px;
    height: 50px;
  }
  80% {
    margin-top: -4px;
    height: 52px;
  }
  100% {
    margin-top: 1px;
    height: 49px;
  }
}

@keyframes smoke-1 {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.9;
  }
  100% {
    right: -30px;
    bottom: 5px;
    width: 30px;
    height: 30px;
    opacity: 0;
  }
}

@keyframes smoke-2 {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.9;
  }
  100% {
    right: -60px;
    bottom: 8px;
    width: 25px;
    height: 25px;
    opacity: 0;
  }
}

@keyframes smoke-3 {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.9;
  }
  100% {
    right: -40px;
    bottom: 2px;
    width: 35px;
    height: 35px;
    opacity: 0;
  }
}

@keyframes move-truck {
  0% {
    margin-left: 90%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    margin-left: 45%;
  }
  90% {
    opacity: 1;
  }
  100% {
    margin-left: 0;
    opacity: 0;
  }
}
#switcher {
  display: none !important;
}
